table {


 border-spacing:0px;
 border-radius:7px;   
}

tr {
    border-radius:7px;   
}
td {

    border:1px solid black;
    padding:7px 7px 7px 7px;
    
}

#ID{

width:50px;

    
}

#name {
   
}

#price{
    
    width:90px;
    
}

span {
    margin-left:487px;
}

.color {
    background:#E8E9EB;
    
}

.first {
   
    border-radius:7px 7px 0px 0px;
}

.last {
    
     border-radius:0px 0px 7px 7px;
}

ul li {
   
    display:inline;
    padding:7px;
    margin-right:20px;
    margin-left:-20px;
    
   
    
}

ul li:hover {
    
    border:1px solid #C95E09;
    border-radius:5px;
    margin-right:18px;
    
}

ul {
    
    display:inline;
    margin-left:30px;
    margin-right:-12px;
    margin-top:10px;
    width:50px;
}

a {
    text-decoration:none;
    color:Black;
}


#last {
    
    margin-right:-30px;
}

ul li:first-child {
    margin-left:-31px;
   
}

#left,#last{

    background-image:url('left.png');
    background-size:23px 16px;
    background-repeat:no-repeat;
    border-radius:5px;
    width:30px;
    
    
}

#right,#dright {

 background-image:url('right.png');
    background-size:23px 16px;
    background-repeat:no-repeat;
    border-radius:5px;
    width:30px;

}
