body { 
	background:#00FFCC; 
}
#Friends{ 
	position:fixed;
	left:50%;
}
#AdInformation{
	position:fixed;
	right:8px;
}
#Information{
    font-size:25px; 
	font-weight:bold;
}	
.data{
    margin-top:10px;
    font-weight:bold;   
}
#first {
    padding-left:-10px;
}


