table{
    
    border:2px solid #90CAD7;
    padding:0px;
    border-spacing:0px;
}

th {
    
    border:1px solid #90CAD7;
    padding:10px 10px 10px 10px;
}

td {
    
    border:1px solid #90CAD7;
    padding-left:5px;
}

#link {
     border:none;
     padding:3px 3px 3px 3px;
     margin:3px 3px 3px 3px;
     border-top:1px solid #90CAD7;
}

input {
    font-size:15px;
   
}